/* ==========================================================================
   Grids - Based on stripped down Bootstrap v3.0.2
   ========================================================================== */

@media only screen and (max-width: 990px) {
	#trendingz, #home-sliderz, .top-socialz {
		display: none;
	}
	.pipdig-grid-thumb-cutter {
		height: 260px;
	}
	.cutter-full-width {
		height: 230px;
	}
	.pipdig-ls-full-width {
		margin-bottom: 35px;
	}
}

@media only screen and (max-width: 769px) {
	.site-top, #wpadminbar, .wpadminbar-nudge {
		display: none;
		opacity: 0;
		height: 0;
	}
	.slicknav_menu {
		display:block;
	}
	.site-title img {
		padding-top: 60px;
	}
	.site-description {
		font-size: 13px;
	}
	.site-title {
		font-size: 40px;
		font-size: 9vw;
		line-height: 1.2;
		letter-spacing: 3px;
		margin-bottom: 0;
	}
	.site-header .container {
		padding-bottom: 30px;
		padding-top: 80px;
	}
	.site-sidebar {
		margin: 30px 0 0;
		padding: 0;
	}
	.site-sidebar .widget {
		margin: 0;
		padding: 20px 15px;
	}
	.site-sidebar .widget:last-child {
		padding-bottom: 30px;
	}
	table {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
		-webkit-overflow-scrolling: touch;
	}
	table > table {
		margin-bottom: 0;
	}
	table > table > thead > tr > th,
	table > table > tbody > tr > th,
	table > table > tfoot > tr > th,
	table > table > thead > tr > td,
	table > table > tbody > tr > td,
	table > table > tfoot > tr > td {
		white-space: nowrap;
	}
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 46%;
	}
	.cutter-full-width {
		height: 200px;
	}
	.entry-footer {
		letter-spacing: 1px;
	}
	.owl-height-wrapper {
		max-height: 150px;
	}
	.grid_post_even, .grid_post_odd {
		padding-left: 0;
		padding-right: 0;
	}
	.top-slider-section .read-more, .pipdig-slider-cats, .hide-back-to-top, .owl-pagination, #wpadminbar {
		display: none;
	}
	.top-slider-section {
		height: 350px;
		padding: 15%;
	}
	.top-slider-section .post-header h2 {
		font-size: 20px;
	}
	.comment ul.children {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 719px) {
	.cycle-slideshow {
		height: 290px;
	}
	.slide-container {
		width: 80%;
	}
	.slide-h2 {
		font-size: 18px;
	}
	.site-main .container {
		padding-bottom: 0;
	}
	.site-footer, .site-credit {
		text-align: center;
	}
	.addthis_toolbox .fa {
		margin: 0 3px;
	}
	#form-allowed-tags, ul.page-numbers {
		display: none;
	}
	.next-prev-hider { /* show older/newer posts links instead and hide pagination on mobiles */
		display: block;
	}
	.woocommerce div.product #tab-additional_information, #tab-reviews {
		display: block !important;
	}
	.woocommerce div.product .tabs {
		display: none;
	}
	.pipdig-grid-post {
		width: 100%;
		float: none;
	}
	.pipdig-grid-post:nth-child(odd) {
		margin: 0;
	}
	.pipdig-grid-post:nth-child(even) {
		margin: 0;
	}
	.grid-title {
		font-size: 20px;
		height: auto;
		line-height: 1.4;
		overflow: visible;
		text-overflow: clip;
		white-space: normal;
	}
	.pipdig-grid-thumb-cutter {
		height: auto;
		width: auto;
		overflow: visible;
		display: inline;
	}
	.ls-slide .read-more {
		padding: 8px 15px;
	}
	.site-info {
		text-align: center;
		margin-bottom: 7px;
	}
}

@media only screen and (max-width: 400px) {
	.woocommerce .product .product_title {
		font-size: 16px;
	}
	.cycle-slideshow  {
		height: 250px;
		margin-top: 10px;
	}
	.slide-container {
		width: 90%;
		font-size: 0;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: none;
	}
	.cycle-next, .cycle-prev, .pipdig-cats {
		display: none;
	}
	.hook_after-first-post {
		display: none;
	}
	.top-slider-section {
		height: 320px;
		padding: 20% 15%;
	}
}


/* ImageLightbox.js */

@media only screen and (max-width: 41.250em) /* 660 */ {
	#container {
		width: 100%;
	}
	#imagelightbox-close {
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav {
		bottom: 1.25em; /* 20 */
	}
	.imagelightbox-arrow {
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left {
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right {
		right: 1.25em; /* 20 */
	}
}

@media only screen and (max-width: 20em) /* 320 */ {
	.imagelightbox-arrow-left {
		left: 0;
	}
	.imagelightbox-arrow-right {
		right: 0;
	}
}